@page "/"

@inherits IndexBase

@if (VM.ToDos != null)
{
  @foreach (var todo in VM.ToDos)
  {
    <div class="alert alert-warning" role="alert">
      <p><em>@todo.Content</em></p>
    </div>
    
    <br />
  }
}