@namespace SimpleBlazorTasker.Pages.Components

@inherits SimpleBlazorTasker.Pages.Components.LoadingBoxBase

<div class="alert alert-warning" role="alert">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>  
    <p><em>@DisplayMessage...</em></p>
</div>


